.cartContainer {
  font-family: "Roboto", sans-serif;

  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  top: 50%;

  width: 500px;
  height: 600px;

  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  padding: 2rem;
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.274);

  color: #333333;
}

.cartContainer h1 {
  margin-bottom: 1rem;
}

.cartHeader {
  display: flex;
  flex-direction: row;
}

.cartHeader button {
  margin-left: auto;
}

.cartItemsContainer {
  /* border: 1px solid black;
  border-radius: 15px; */
  height: 350px;
  margin-bottom: 1rem;
  padding: 10px;
  overflow-y: auto;
}

.cartItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* width: 100%; */

  /* border: 1px solid black; */
  border-radius: 15px;
  background-color: rgba(204, 204, 204, 0.2);

  padding: 15px;
  margin-bottom: 1rem;
}

.cartItemHeader h3 {
  font-size: 16px;
  color: #333333;
}

.itemCustoms {
  width: 250px;
  font-size: 14px;
}

.cartItem__RightGroup {
  margin-left: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.cartItem__RightGroup p {
  margin-right: 2rem;
  font-size: 18px;
  /* width: 30px; */
}

.removeButton {
  width: 25px;
  height: 25px;

  background-color: #ef5350;
  color: white;

  font-size: 14px;
}

.removeButton:active {
  background-color: #f44336;
  color: rgba(255, 255, 255, 0.651);
}

.cartSummaryContainer {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.feesContainer {
  width: 250px;
}

.cartSummaryItem {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
}

.totalPrice {
  border-radius: 5px;
  background-color: #c8e6c9;
  margin-bottom: 0;

  display: flex;

  margin-top: 10px;
  padding: 8px 10px;
}

.totalPrice p {
  margin-bottom: 0;
  font-weight: bold;
  color: #333333;
}

.restaurantSummaryContainer {
  margin-left: 50px;
  /* width: 100%; */
  height: 100%;
  color: #333333;

  display: flex;
  flex-direction: column;
}

.placeOrderButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 40px;
  border-radius: 25px;
  border-width: 0;

  font-size: 16px;
  margin-top: auto;


  background-color: #1e88e534;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #333333;

  transition: box-shadow, background-color 0.2s;

  cursor: pointer;
  outline: none;
}

.placeOrderButton:active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) !important;

  background-color: #1e88e56b;
  color: black;
}

.alignRight {
  margin-left: auto;
}
