.dish {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

.dishOutOfBudget {
  background-color: #ffeb3b;
  border-radius: 5px;
  padding: 0.3rem 0.4rem;

  color: #333333;
  font-weight: 400;
  font-size: 14px;

  margin-top: 5px;
}

.dimmed {
  color: #333333 !important;
  background-color: rgba(0, 0, 0, 0.15) !important;
}

.dimmed:hover {
  box-shadow: unset !important;
  color: #333333 !important;
  background-color: rgba(0, 0, 0, 0.15) !important;
  cursor: not-allowed !important;
}

.dimmed:active {
  box-shadow: unset !important;
  background-color: rgba(0, 0, 0, 0.15);
  cursor: not-allowed !important;
}

.dishContainer {
  outline: none;
  border: none;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  width: 700px;
  height: 150px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease, background-color 0.2s ease;

  overflow: hidden;
}

.dishContainer:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: black;
}

.dishContainer:active {
  transition: box-shadow 0.05s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
}

.dishImage {
  padding: 0;
  margin: 0;
  height: 100%;

  margin-right: 2rem;
}

.dishImage img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.dishGroup__Name_Description {
  width: 500px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2rem;
}

.restaurantDeliveryInfo {
  width: 500px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2rem;
}

.dishName {
  font-weight: 400;
  color: #333333;
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.dishDescription {
  font-size: 13px;
  font-weight: 300;
}

.fontThin {
  font-weight: 300;
}

.dishReviewContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-right: 2rem;
  width: 200px;
}

.dishReview {
  display: flex;
  align-self: flex-end;
  text-align: right;

  color: #333333;
  /* width: 100%; */

  border-radius: 5px;

  margin-bottom: 2rem;
}

.dishPrice {
  font-size: 20px;
}

.dishReview span {
  font-size: 16px;
  margin-right: 0.4rem;
  align-self: flex-end;
}

.dishReview i {
  color: #66bb6a;
  font-size: 16px;
}


