.header {
  background-color: red;
  width: 100%;
  height: 100px;
  display: flex;
}

.forms {
  background-color: blue;
  width: 30%;
  margin: auto;
}

input[type="text"] {
  padding: 12px 20px;
  width: 100%;
}
