.restaurants {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

.restaurantContainer {
  outline: none;
  border: none;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  width: 700px;
  height: 150px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease, background-color 0.2s ease;

  overflow: hidden;
}

.restaurantContainer:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: black !important;
}

.restaurantContainer:active {
  transition: box-shadow 0.05s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
}

.restaurantImage {
  padding: 0;
  margin: 0;
  height: 100%;

  margin-right: 2rem;
}

.restaurantImage img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.restaurantInfoContainer {
  width: 500px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2rem;
}

.restaurantName {
  font-weight: 400;
  color: #333333;
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.fontThin {
  font-weight: 300;
}

.restaurantReviewContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2rem;
  width: 200px;
}

.restaurantReview {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #222222;
  width: 120px;

  border-radius: 5px;
  padding: 0.2rem;
}

.restaurantReview span {
  font-size: 16px;
  margin-right: 0.4rem;
}

.restaurantReview i {
  color: #66bb6a;
  font-size: 16px;
}
