.restaurants{
    text-align: center;
    position: relative;
}

.restaurantContainer {
    position: relative;
    overflow: hidden;
    left: 370px;
    margin-top: 30px;
    width: 1000px;
    height: 150px;
    background: lightgray;
}

.restaurantContainer h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
    position: absolute;
    color: black;
    font-size: 30px;
    top: 20px;
    left: 200px;
}

.ratings{
    color: black;
    position: absolute;
    top: 70px;
    left: 200px;
}

.dummyLogo{
    color: blue;
    position: absolute;
    top: 50px;
    left: 30px;
}

.restaurantContainer ul{
    color: black;
    text-align: left;
    position: absolute;
    list-style: none;
    top: 40px;
    right: 250px;
}

.restaurantContainer button{
    position: absolute;
    color: blanchedalmond;
    background-color: rgb(78, 62, 62);
    bottom: 20px;
    right: 20px;
    font-size: 40px;
}

.restaurantContainer button:hover{
    background-color: rgb(156, 55, 55);
}